p#pogrubienie_dylevich{
    color: #915DD0;
    font-size: 33px;
}
p#pochylona_dylevich{
    font-size: 38pt;
    color: #F5C16C;
}
p#index_gorny_dylevich{
    font-size: 1.3cm;
    color: #A58F1C;
}
p#index_dolny_dylevich{
    font-size: 2.1cm;
    color: #41F3E4;
}
p#mono_dylevich{
    font-size: 43px;
    color: #49DF6C;
}
p#powiekszenie_dylevich{
    font-size: 38pt;
    color: #F5C16C;
}
p#pomniejszenie_dylevich{
    font-size: 38pt;
    color: #F5C16C;
}