body {
    background-color: silver;
    }
    p{
    font-size: 20mm;
    color: red;
    }   
    p:lang(pl){
    font-size: 27mm;
    color:silver;
    }
    p:lang(en){
    font-size: 34mm;
    color:blue;
    }
