
a{
font-size: 18pt;
text-decoration: none;
}
a:link{
color: blue;
}
a:visited{
color: green;
}
a:hover{
color: red;
text-decoration: underline;
}

/*
text-decoration: none; - Zwykły wygląd
text-decoration: underline; - Podkreślenie
Oleksandr Bilyi
*/